.FollowersCard{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: var(--cardColor);
    width: 100%;
    border-radius: 0.7rem;
    gap: 1rem;
    font-size: 13px;
    max-height: fit-content;
}
.follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.follower>div{
    display: flex;
    gap: 10px;
}
.FollowersCard > h3{
    margin-top: 1rem;
    margin-left: 0.3rem;
}
.FollowersCard > span {
    margin-bottom: 1rem;
}

.followerImage{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-left: 0.2rem;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.name>span:nth-of-type(1){
    font-weight: bold;
}

.fc-button{
    height: 2rem;
    padding-left: 21px;
    padding-right: 20px;
    margin-right: 0.2rem;
}

.UnfollowButton{
    color: var(--orange);
    border: 2px solid var(--orange);
    cursor: pointer;
    background: transparent;
}


.FollowersCard>span{
    font-weight: bold;
    color: orange;
    align-self: center;
    cursor: pointer;
}